<nav class="filter">
  <h3><%= header %></h3>
  <ul>
    <li>Filter: </li>
    <li><a href="#" class="easy open-modal">Easy</a></li>
    <li><a href="#" class="medium open-modal">Medium</a></li>
    <li><a href="#" class="hard open-modal">Hard</a></li>
    <li><a href="#" class="crazy open-modal">Crazy as fuck</a></li>
  </ul>
</nav>
