<nav class="filter">
  <h3><%= header %></h3>
  <ul>
    <li>Filter: </li>
    <li><a href="#" class="esy">Easy</a></li>
    <li><a href="#" class="med">Medium</a></li>
    <li><a href="#" class="hrd">Hard</a></li>
    <li><a href="#" class="crz">Crazy as fuck</a></li>
  </ul>
</nav>
