<nav class="filter">
  <h3><%= header %></h3>
  <ul>
    <li>Filter: </li>
    <li><a href="#" class="esy open-modal">Easy</a></li>
    <li><a href="#" class="med open-modal">Medium</a></li>
    <li><a href="#" class="hrd open-modal">Hard</a></li>
    <li><a href="#" class="crz open-modal">Crazy as fuck</a></li>
  </ul>
</nav>
