<div id="modal">
    <a class="close-modal" href="#">X</a>
    <section class="card friend-list">
      <h6>Send challenge to Friends</h6>
      <p class="challenge" id='cpnl'><em id='clbl'></em> <span id="modalName"></span></p>
      <div class="friends">


  <%= form_tag '/challenges', id: 'sendForm' do %>
    <input type='hidden' name='exp' id='exp' />
    <input type='hidden' name='name' id='name' />
    <input type='hidden' name='user_id' id='user_id' />
  <% end %>

        <ul>
        <% @friends.each do |friend| %>
            <% if friend.present? %>
              <li>
              <p >
                <%= friend['name'] %></p>
              <a class="challenge-user" data-user-id='<%= friend['id'] %>'href="#">Challenge</a>
              </a>
              </li>
            <% end %>
          <% end %>
       </ul>
      </div>
    </section>
  </div>
