<div id="modal">
  <a class="close-modal" href="#">X</a>
  <section class="card friend-list">
  <h6>Send a Challenge to Friends <em>(0/3)</em></h6>
  <p class="challenge easy"><em>Easy</em> Do 3 Sit-ups!</p>
      
  </section>
</div>
