<%#= flash[:alert] %>
<body class="landing">
	<div>
		<%=image_tag "logo.png"%>
		<h1>Fun Challenges with Your Friends!</h1>
		<%= link_to "Connect with Facebook", user_omniauth_authorize_path(:facebook) %>
	</div>
</body>
