<%= render 'shared/difficulty_filter', header: "Challenge a friend" %>
<section class="challenge-list">
  <ul>
    <li class="esy">
      <h4>E</h4>
      <p>Do 3 push-ups!</p>
      <em class="reward">1 star</em>
      <%#=link_to 'Send Challenges', render :partial => "shared/modal", :class => 'btn send open-modal'%>
    </li>
    <li class="esy">
      <h4>E</h4>
      <p>Do 5 sit-ups!</p>
      <em class="reward">1 star</em>
      <a href="#" class="btn send open-modal">Send Challenge</a>
    </li>
    <li class="med">
      <h4>M</h4>
      <p>Run 2 kilometers!</p>
      <em class="reward">2 stars</em>
      <a href="#" class="btn send open-modal">Send Challenge</a>
    </li>
    <li class="hrd">
      <h4>H</h4>
      <p>Do 15 push-ups!</p>
      <em class="reward">3 stars</em>
      <a href="#" class="btn send open-modal">Send Challenge</a>
    </li>
    <li class="crz">
      <h4>C</h4>
      <p>Do 20 push-ups and 40 sit-ups!</p>
      <em class="reward">5 stars</em>
      <a href="#" class="btn send open-modal">Send Challenge</a>
    </li>
  </ul>
</section>
